<!DOCTYPE html>
<html>
<head>
    <title>My Quiz</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" href="assets/stylesheets/style.css">
    <script src="assets/javascript/script.js" defer></script>
    <script src="assets/javascript/quiz-editor.js" type="text/babel" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/javascript/handlebars-v4.0.5.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>

<!--Quiz Template-->
<script id="quiz-template" type="text/x-handlebars-template">
    {{#if question}}
        <label class="label-question">{{{getQuestion}}}</label>
        {{#if choices}}
            {{#each choices}}
                <label class="label-choices">
                    <input type="radio" name="choices" value="{{choice}}" required {{checked}}>{{choice}}
                    <span class="radio-circle"></span>
                </label>
            {{/each}}
        {{/if}}
        {{#if correctAnswer}}
            <label class="blank"><input type="text" name="blank" required></label>
        {{/if}}
        {{#if items}}
            {{#each items}}
                <span class="item" draggable="true">{{this}}</span>
            {{/each}}
        {{/if}}
        <button name="next" class="btn">Next</button>
        <button name="back" class="btn btn-alt">Back</button>
        <div class="counter">{{number}}/{{total}}</div>
    {{/if}}
    {{#unless question}}
        <h1>You got {{score}} out of {{total}}!</h1>
        <button name="try-again" class="btn">Try Again?</button>
    {{/unless}}
</script>

<!--Login Template-->
<script id="login-template" type="text/x-handlebars-template">
    <label>
        Username<br>
        <input type="text" name="username">
    </label>
    <label>
        Password<br>
        <input type="password" name="password">
    </label>
    {{#register}}
        <label>
            Confirm Password<br>
            <input type = "password" name="confirm-password">
        </label>
        <button name="join" class="btn">Join Now</button>
    {{/register}}
    {{#login}}
        <label>
            <input type="checkbox" name="remember"> Remember Me?
        </label>
        <button name="start" class="btn">Start</button>
    {{/login}}
    {{#admin}}
        <button name="admin">Login</button>
    {{/admin}}
    <button name="back">Back</button>
</script>

<!--Title-->
<section class="title" style="visibility:hidden">
    <div>
        <h1>Custom Quiz</h1>
        <button name="login">Login</button>
        <button name="register">Register</button>
        <button name="admin">Admin</button>
    </div>
</section>

<!--Login-->
<section class="login" style="visibility:hidden">
    <form>
        <fieldset class="account-info"><!--login template inserted--></fieldset>
    </form>
</section>

<!--Add Questions-->
<section class="quiz-editor">
</section>

<!--Quiz-->
<section class="quiz" style="visibility:hidden">
    <form>
        <fieldset><!--quiz template inserted--></fieldset>
    </form>
</section>

</body>
</html>

