/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Box Model */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/* General Styles */

body {
    font: 300 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F5F4F1;
}

form, .title div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 0.25em;
    position:relative;
}

fieldset {
    background-color: #fff;
    padding: 40px 65px;
    position: relative;
    -webkit-box-shadow: 0 0 23px -2px rgba(0,0,0,0.13);
       -moz-box-shadow: 0 0 23px -2px rgba(0,0,0,0.13);
            box-shadow: 0 0 23px -2px rgba(0,0,0,0.13);
}
/* Buttons */

.btn {
    font: 300 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 35px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 10px;
    background: #2f6383
;
}

.btn-alt {
    margin-right: 67px;
}

.btn:hover, .btn-alt:hover {
    background: #367196
}

/* Radio Circle */

.radio-circle {
    background: #e6e6e6;
    position: absolute;
    top: .25em;
    left: -.75em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* Radio inner circle */
.radio-circle:after {
    position: absolute;
    display: none;
    content: "";
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Login */

.login form {
    padding: 100px;
}

.account-info {
    padding: 30px;
}

.account-info label {
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 10px;
    margin-left: 0
}

.account-info label:last-of-type {
    font-weight: normal;
    font-size: 15px;
}

/* Title */

.title {

}

/* Quiz */

.label-question {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
    margin-bottom: 15px;

}

.blank, .label-question, .item {
    position: relative;
    right: .5em;
}

.label-choices:hover {
    color: #0e647d;
}

.label-choices input {
    z-index: -1;
    opacity: 0;
}

.item {
    display: inline-block;
    margin: 0 15px 15px 0;
}

.counter {
    font-size: 17px;
    position: absolute;
    right: 5px;
    bottom: 0;
}

/* Quiz Editor */



/* Hover and focus states */
.label-choices:hover input ~ .radio-circle,
.label-choices input:focus ~ .radio-circle {
    background: #ccc;
}

/* Checked state */
.label-choices input:checked ~ .radio-circle {
    background: #2aa1c0;
}

/* Hover state while checked */
.label-choices:hover input:checked ~ .radio-circle,
.label-choices input:checked:focus ~ .radio-circle {
    background: #0e647d;
}

/* Show check mark */
.label-choices input:checked ~ .radio-circle:after {
    display:block;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    width: 11em;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
